<template>
  <div
    @click="clickCell"
    :class="{ cell: true, cellX: player === 'X', cellO: player === 'O' , grade:grade}"
  >
    {{ player }}
  </div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'],
  methods: {
    clickCell (event) {
      // console.log(event)
      // console.log('click ' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click')
    }
  }
}
</script>
<style>
.cell {
  font-size: 30 pt;
}
.cellX {
  color: rgb(82, 190, 252);
}
.cellO {
  color: rgb(247, 60, 3);
}
.grade{
  background-color: rgb(237, 253, 7);
}
</style>
